.container__body {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 5rem;
    font-size: 20px;
}

/* Para pantallas medianas (tablets, pantallas pequeñas) */
@media (max-width: 1024px) {
    .container__body {
        margin-left: 4.5rem;
        margin-right: 4.5rem;
        font-size: 18px;
    }
}

/* Para pantallas pequeñas (móviles grandes, tablets en modo vertical) */
@media (max-width: 768px) {
    .container__body {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 16px;
    }
}

/* Para pantallas muy pequeñas (móviles pequeños) */
@media (max-width: 480px) {
    .container__body {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 14px;
    }
}
