.container__navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    padding-top: 2rem;
}

@media (max-width: 480px) {
    .container__navbar {
        padding: 1.5rem 0;
    }
}
