.container__footer {
    display: flex;
    justify-content: end;
    border-top: 1px solid #2d2d2d;
    margin: 2.5rem 2rem 1rem 2rem;
}

.parrafo__footer {
    font-size: 16px;
    margin: 0.5rem;
    font-weight: 400;
}
