.container__presentacion {
    background: rgba(105, 90, 138, 0.245);
    border-radius: 2%;
    margin-top: 4rem;
    color: #221e22;
}

.titulo__presentacion {
    padding: 2% 0 0 2%;
}

.descripcion__presentacion {
    padding: 0 2% 2% 2%;
    font-size: 18px;
}
