@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

:root {
    font-family: "Tilt Neon", sans-serif;
    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}
